@font-face {
	font-family:"Spoqa Han Sans Neo";
    font-weight: 400;
	src:url(../font/SpoqaHanSansNeo-Regular.woff) format("woff");
}

/* Style */
html { font-size: 10px;}
body { overflow-x:hidden; font-size: 1rem;  color:#1F1F1F;}
body.hidden { overflow-y:hidden; touch-action: none;}
body{-webkit-tap-highlight-color:transparent;}
main { font-size: 1.5rem; line-height:2.1rem; display: block;}
a, button { font-family: 'Spoqa Han Sans Neo'; font-size: 1.5rem; line-height:2.1rem; color:#1F1F1F; background-color: transparent;}
/*p, li{word-break: keep-all;}*/

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
caption > div,
legend,
.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}

.skip { position: absolute; left: 0; right: 0; top:-100%; transition: all .5s; line-height: 5rem; background: #000; color:#fff; text-align: center; z-index: 100;}
.skip:focus { top: 0; }

.width {padding:0 1.6rem;} 

.anchor {display: block; height:5.2rem; margin-top: -5.2rem; visibility: hidden;}

/* 채팅하기 버튼 */
.chat-bar {position:fixed; left:0; right:0; bottom:0; padding:1.1rem 1.6rem; background-color: #FFF;}
.chat-bar .btn-chat {display:block; width: 100%; line-height: 4.8rem; text-align:center; color:#FFF; background-color:#0A3CD2; border-radius: .8rem;}